* {
 height: 80vh;
 width: 50vw;
 position: fixed;
 opacity: 0.9;
 border: none;
 border-radius: 5%;
 -webkit-border-radius: 5%;
 -moz-border-radius: 5%;
 -ms-border-radius: 5%;
 -o-border-radius: 5%;
}


.e-product-card{
  height: 100%;
  width: 100%;
}
