<div class="modal">
<div class="modal-body">
    <mat-card *ngFor="let product of products"class="e-product-card">
        <mat-card-header>
          <mat-card-title class="name">{{ product.name }}</mat-card-title>
          <mat-card-subtitle class="price-quantity"
            >{{  product.price }} $ / {{  product.quantity }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <p class="description">
            {{  product.description }}
          </p>
          <img src="{{  product.imageUrl }}" class="e-product-img" />
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
</div>
<button (click)="closeModal()">Cerrar</button>
</div>