<div class="conteiner">
  <h1 class="titulo-inicio">
    BIENVENIDOS A MI <span class="type">TIENDA</span> </h1>
<div class="inicio">
<button class="button" mat-fab color="warn" routerLink="/productos">Ver Productos</button>
</div>

</div>
