
.inicio,.conteiner {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

h1{
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  font-family: monospace;
  font-size: 100px;
}
.button{
  height: 120px;
  width: 120px;
}

.titulo-inicio span{
color: red;
}