<div class="app-products-div">
  <mat-spinner *ngIf="products.length === 0" style="margin:0 auto"></mat-spinner>
  <div class="modal" *ngIf="modalSwitch == true">
    <app-modal></app-modal>
  </div>
  <mat-card *ngFor="let product of products" class="e-product-card">
    <mat-card-header>
      <mat-card-title class="name">{{ product.name }}</mat-card-title>
      <mat-card-subtitle class="price-quantity"
        >{{ product.price }} $ / {{ product.quantity }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p class="description">
        {{ product.description }}
      </p>
      <img src="{{ product.imageUrl }}" class="e-product-img" />
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" class="button" (click)="openModal()" (click)="verProducto()">
       View product
      </button>
    </mat-card-actions>
  </mat-card>
</div>
