*{
  position: static;
}

.e-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  max-width: 390px;
  padding: 20px;
  position: static;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  box-shadow: 2px 2px 2px 3px rgb(207, 207, 207);
}

img.e-product-img {
  height: 80%;
  width: 80%;
  position: static;

}

div.app-products-div {
  display: flex;
  flex-wrap: wrap;
  /* padding: 50px; */
  margin-top: 100px;
  
}

.button{
color: orange;
}

.e-product-card{
box-shadow: 50%;
}
.app-products-div{
  text-align: center;
}
