<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<mat-toolbar class="main-app-toolbar">
  <div class="titulo" routerLink="/home">
    <h1>
      <mat-icon class="main-icon">store</mat-icon>
      <span>FAKE API</span>
    </h1>
  </div>
  <div class="home" routerLink="/home">
    <span>Home</span>
  <button mat-button class="material-icons" >home</button>
  </div>
  <div class="products" routerLink="/productos">
    <span >Products</span>
    <button mat-button class="material-icons" >
      local_mall
    </button>  </div>

  <button mat-button class="material-icons">shopping_cart</button>
</mat-toolbar>
<router-outlet></router-outlet>
