.main-icon {
  padding-right: 15px;
  vertical-align: text-bottom;
  font-size: 28px;
  justify-self: start;
}
.mat-button{
  font-size: 25px;
}

.main-app-toolbar {
  font-size: 28px;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  color: orangered;
  position: fixed;
  top: 0;
  /* z-index: 999; */
  
}

.footer{
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  color: orangered;
  position: fixed;
  top: 0;
}


.titulo:hover,.home:hover,.products:hover{
  cursor: pointer;
  color: rgb(173, 51, 51);
}